@charset "utf-8";





body {
    color: #666;
    text-decoration: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  /*
    background-image: url(img/top_background.jpg);
    background-size: 80% 100%;
    background-position: right;
    background-repeat: no-repeat;

    width: 100%;
    height: 100vh;
*/
    padding-left: 1.5rem;
}

#whole-wrapper {
    background-image: url(img/top_background.jpg);
    background-size: 80% 100%;
    background-position: right;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #666;
    
}

button {
    background-color: #f7e35e;
}

button:hover {
    opacity: 0.8;
}



#logo {
    font-size: 2.5rem;
    padding: 1.5rem 0 3rem 0;
}

#logout {
    margin-top: 3rem;
    color: #666;
}

#logout:hover {
    opacity: 0.8;
}

#top-container {
    font-weight:bold;
}



.yellow {
    color:#f7e35e;
}

/*          index start            */

.index-list {
    display:none;
}



.list {
    line-height: 1.5rem;
    margin-top: 5rem;
}

.list li:hover {
    opacity: 0.8;
}

.addquiz {
    margin-top: 2rem;
    font-weight: bold;

}

.addquiz:hover {
    opacity: 0.8;
}

.quizlist:hover {
    opacity: 0.8;
}



/*             index end                   */


/*             login start                          */

.login-wrapper {
    padding-top: 5rem;
}

.page-title {
    
    color: #888;
    margin-bottom: 3rem;
}
.login-info {
    font-weight: bold;
    color: #888;
   
}

.login-input {
    margin-bottom: 1rem;
}


.signup-btn {
   margin-top: 10rem;
    font-weight: bold;
}

.back-login {
    margin-top: 5rem;
}




/*             login end                              */

/*                  single start                                    */

header {
    display: flex;
    justify-content: space-between;
}
.question_set input.answer {
    width: 700px;
    
}

.question_set {
    margin-bottom: 5rem;
}

header .right-block a {
    margin-right: 3rem;
}



.hint {
    visibility: hidden;
    opacity: 0;
}

.hint.open {
    visibility: visible;
    opacity: 1;
    color: #666;
}

.hintbutton {
    border: solid 1px #666;
    border-radius: 3px;
    display: inline-block;
    padding: 0.1rem 0.5rem;
    margin-left: 1rem;
    cursor: pointer;
}

.hintbutton, .hint {
    display: inline-block;
    line-height: 1.2;
}

.hintbutton:hover {
    opacity: 0.8;
}

.hintbutton:active {
    transform: translate(0,2px);
}

.hint {
    color: #666;
}

.question_set .question {
    display: inline-block;
    line-height: 1.2;
    margin-bottom: 1rem;
}



.answer {
    margin-top: .2rem;
}

.quiz-submit-btn {
    margin-top: 3rem;
    padding: 0.5rem 70px;
    border-radius: 3px;
}

.quiz-submit-btn:hover {
    cursor: pointer;
    
}

.quiz-submit-btn:active {
    transform: translate(0,2px);
}

.back-top {
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.back-top:hover {
    opacity: 0.8;
}

.quizform {
    margin-bottom: 3rem;
}

/*                  single end                                       */

/*            confirmsubmit start                         */

#container-confirm {
    padding: 3rem;
    
}

#container-confirm h4 {
    margin-bottom: 3rem;
}

#container-confirm .question {
    margin-bottom: 0.5rem;
}

#container-confirm .display-answer {
    margin-bottom: 2rem;
}

.confirm-submission {
    margin-top: 3rem;
}

.back-btn {
    margin-top: 2rem;
}

.logout-confirmsubmit {
    margin-right: 2rem;
}

/*             confirm submit end                        */


/*             addquiz start                        */



.clone-btn:hover{
    opacity: 0.8;
}

.addquiz-form  p {
    width: 20%;
    margin: 0.4rem 0;
}

select {
    width: 100%;
    padding: 0.3rem 0;
    margin-bottom: 1.2rem;
}

input[type="date"] {
    width: 100%;
    margin-bottom: 1.2rem;
}



.input-quiz {
    width: 30%;
    margin-bottom: 1.2rem;
}

.clone-btn {
    background-color:#f7e35e;
    padding: 7px 70px;
    margin: 1.2rem 0;;

    
}

.submit-btn {
    margin-top: 0.5rem;
    padding: 7px 90px;
}


/*             addquiz end                        */

/*                quizlist start                  */

.list-container .sort{
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.select-title {
    width: 20%;
}

.select-title:hover {
    opacity: 0.8;
    cursor: pointer;
}

.select-due {
    width: 20%;
}

.select-due:hover {
    opacity: 0.8;
    cursor: pointer;
}

.search-submit {
    padding: 0.3rem 0.7rem;
    margin-bottom: 1rem;
    width: 20%;
}

.search-submit {
    padding: 0.5rem 70px;
    border-radius: 3px;    
    cursor: pointer;
}

.search-submit:active {
    transform: translate(0,2px);
}

.back-top-list {
    margin-left: 8rem;
    font-weight: bold;
}


td, th {
    border: solid 1px #999;
    padding: 0.7rem 0.8rem;
 
}

.quiz-table {
    border-collapse: collapse;
      
}

.table-element {
    padding:
}

tr:nth-child(odd) {
    background-color:#fdfdef;
}

th {
    background-color:#fceb81;
}






/*                quizlist end                    */


/*           login  smartphone start                        */

@media screen and (max-width: 600px) {

header {
   
}



#logo {
    font-size: 2.5rem;
    margin: 0 auto;
    text-align: left;
}
#logo a {
    
}
body {
    padding-left: 0;
    background-color:#efeded;
}

.root-wrapper {
    background-color: #999;
    padding: 7vh 7vh;
    /* border-top: solid 3rem #ccc; */
    /* border-bottom: solid 3rem #ccc; */
    height: 100vh;
    box-sizing: border-box;
}

#whole-wrapper {
    background-image: none;
    background-color: #efeded;
    background-size: 80% 100%;
    background-position: right;
    width: 100%;
    height: 86vh;
    padding: 2rem;
    box-sizing: border-box;
}


.login-wrapper {
    text-align: left;
  
    padding: 1rem 0;
  
}

header {
    flex-direction: column;
}




#container {
  
}

p.signup-btn {
    margin-top: 3rem;
}

p.login-info {
    margin-bottom: 0.3rem;
    text-align: left;
    
}
.login-btn {
    background-color: #f7e35e;
    
}

.login-form {
    
}

.back-login {
    margin-top: 2rem;
}

/*            login smartphone end                         */


/*              index smartphone start                       */



#whole-wrapper {
   
    background-color:#efeded;
}

.whole-wrapper-sp-index {
    height: 100vh !important;
}


#top-container {
    padding: 2rem 0s;
}

#top-container .list li {
    font-weight: bold;
}

#top-container .list {
    display: none;
    margin-top: 0;
}

.index-list {
    display: block;
    cursor:pointer;
    font-weight: bold;
    border-top: solid 1px #666;
    line-height: 3rem;

}

.index-list:hover {
    background-color:#f7e35e;
}

.quizlist {
    border-top: solid 1px #666;
    line-height: 3rem;
}

.quizlist:hover {
    background-color:#f7e35e;
}

.addquiz {
    border-top: solid 1px #666;
    line-height: 3rem;
    margin-top: 0;
}

.addquiz:hover {
    background-color:#f7e35e;
}

#logout {
    border-bottom: solid 1px #666;
    line-height: 3rem;
    margin-top: 0;
}

.logout-sp-index {
    border-top: solid 1px #666;
}

.logout-sp-index:hover {
    background-color:#f7e35e;
}


/*               index smartphone end                      */



/*             single  sp start                        */

.container-sp-single {
    padding: 2rem;
}

.question_set input.answer {
    width: 100%;;
}

.logout-sp-single {
    border-top: none;
    margin-left: 2rem;
}



/*              single sp end                       */


/*                 confirmsubmit sp    start                 */

#container-confirm {
    padding: 2rem;
}

.logout-confirmsubmit {
    margin-left: 2rem;
}



/*                 confirmsubmit sp  end                    */



/*               addquiz sp start                      */

.container-sp-addquiz {
    padding: 2rem;
}

.addquiz-form p {
    width: 40%;
    margin: 0.4rem 0;
}

.input-quiz {
    width: 100%;
    margin-bottom: 1.2rem;
}



/*               addquiz sp end                      */





/*               quizlist sp start                      */

.search-submit {
   width: auto;
    
}

.back-top-list {
    text-align: right;
    margin-left: 0;
}

.quiz-table {
    padding: 0.2rem;
    table-layout: fixed;
    width: 100%;
}

.quiz-table tr a{
    
}




.table-title {
    padding: 0.2rem;
    width: 15%;
    word-break: break-all;
    font-size: 0.7rem;
}

.table-due {
    padding: 0.2rem;
    width: 10%;
    word-break: break-all;
    font-size: 0.7rem;

}


.table-quiz {
    padding: 0.2rem;
    width: 55%;
    word-break: break-all;
    font-size: 0.9rem;
}

.table-hint {
    padding: 0.2rem;
    width: 20%;
    word-break: break-all;
    font-size: 0.7rem;
}



.table-element a {
    display: block;
}




/*                quizlist sp end                     */


/*                                     */
/*                                     */
/*                                     */
/*                                     */